#showProduct{
    display: flex;
    border: 1px solid grey;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: bisque;
    border-radius: 20px ;

}

#name{
    justify-content: end;
}
