body{
    font-family: Arial, sans-serif;
}

.myTable{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.card{
    object-fit: cover;
    box-shadow: 5px 10px 5px #afb0b1;

}

.myCard{
    margin-top: 5vh;
}

.card-body{
    background-color: #C9DFFF;
}

.navMenu{
    border-bottom: 1px solid grey;
}

